.text-info{
    font-weight: bolder;
    font-size: 16px;
}

.text-title{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.space-bottom{
    margin-bottom: 20px;
}